/* Colors */


/* Generic*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul h2 {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

#sidebar ul li button {
    text-align: left;
    width: 220px;
    padding: 5px, 5px, 5px, 10px;
    font-size: 30px;
    display: block;
    border: none;
    background: none;
}
#sidebar ul li button:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#sidebar img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 50%;
}

/*
Jumbotron
*/
.jumbotron {
    width: 100%;
    padding-top: 0px; 
    padding-bottom: 5px;
    margin-top: -10px;
    margin-bottom: 0px;

    color: #6d7fcc;
    background-color: whitesmoke;
}

.jumbotron h1 {
    font-size: 10vw;
    text-align: right;
}

.jumbotron hr {
    margin-top: -25px;
    margin-bottom: -8px;
    border-width: 5px;
    border-color: #7386D5;
}

.jumbotron h3 {
    font-size: 5vw;
    text-align: right;
}



/*
Sidebar
*/
.wrapper {
    display: flex;
    max-width: 100%;
    height:100%;
    align-items: stretch;
}

#content {
    width: 100%;
    max-height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    max-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.components {
    margin-left: 15px;
}

/* 
console 
*/
#console {
    position: absolute;
    width: 80%;
    height: 67.5%;
    background-color:black;
    margin-top: 0px;
    overflow-y: scroll;
    overflow: hidden;
  }
  /* The inner console element. */
  .jqconsole {
      padding: 10px;
      color: whitesmoke;
  }
  /* The cursor. */
  .jqconsole-cursor {
      background-color: whitesmoke;
  }
  /* The cursor color when the console looses focus. */
  .jqconsole-blurred .jqconsole-cursor {
      background-color: whitesmoke;
  }
  /* The current prompt text color */
  .jqconsole-prompt {
      color: #6d7fcc;
  }
  /* The command history */
  .jqconsole-old-prompt {
      color: #6d7fcc;
      font-weight: normal;
  }
  /* The text color when in input mode. */
  .jqconsole-input {
      color: #7386D5;
  }
  /* Previously entered input. */
  .jqconsole-old-input {
      color: #7386D5;
      font-weight: normal;
  }
  /* The text color of the output. */
  .jqconsole-output {
      color: whitesmoke;
  }